body{
    background-color: rgb(0, 195, 255);
    margin: 25px 100px;

    font-family: 'Comic Neue', cursive, 'sans-serif';
}
a{
    text-decoration: none;
}
a:hover{
    color:rgba(255, 255, 255, 0.735);
  }
.nav-links ul li{
    /* position: relative; */
    bottom: 3.25rem;
    left: 3rem;
    display: inline;
    list-style-type:none;
}

.main-container {
  display: -webkit-flex;
  display: flex;
}
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  border-radius: 5%;
}
.profile-pic{
  margin-left: 5rem;
  width: auto; 
  height: 300px; 
  object-fit: cover;
  border-top-right-radius: 20% 20%;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;

  text-shadow: 2rem black;
}
#left-container{
  background-color: rgb(250, 224, 61);
}
#

/* .layout-correction{
    position: relative;
    top: 5rem;
    left: -4rem;
    border-radius: 10px;
    transform: rotate(-45deg);
} */

/* button styling */
/* .layout-correction,
.layout-correction:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 2rem;
  font-family: 'Comic Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #ff275a 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #b9f600;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.layout-correction:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'I LOVE YOU';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #ff275a 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}
.layout-correction:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@media (min-width: 768px) {
  .layout-correction,
  .layout-correction:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
} */
/* 
.nav-bar-container{
    display: flex;
    justify-content: center;
  
    position: absolute;
    width: 30%;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(221, 157, 255);

    top: 6.4rem;
    left: 28.2rem;
    margin-top: 2.75rem;
    transform: rotate(45deg);
}

.nav-links ul li{
    position: relative;
    bottom: 3.25rem;
    left: 3rem;
    display: inline;
    list-style-type:none;
}

.nav-links{
    padding: 25px 0;
    margin-top: .90rem;
    margin-right: 8.5rem;
    font-size: 2.5rem;
    white-space: nowrap;
}
.nav-links a{
    color: white;
    transition: color 1s;
    text-decoration: none;
}
.nav-links a:hover{
    color: rgb(131, 255, 218);
}

.main-body-container{
    display: flex;
    justify-content:space-evenly;
}

.main-container-left{
    position: absolute;
    top: 10rem;
    left: 100px;
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 15px;
    word-break: break-all;
    background-color: rgb(250, 224, 61);
    margin-right: 10px;
    height: auto;
    width: 45vw;
    border-radius: 10px;
    
    
    left: 9.75rem;
    transform: rotate(-45deg);
}
.main-container-left p{
    font-size: 2.5vw;
    word-break: normal;
}
.main-container-right{
    position: absolute;
    right: 100px;
    background-color: rgb(202, 255, 124);
    top: 18rem;
    right: 8.5rem;
    width: 29.5vw;
    border-radius: 10px;
    transform: rotate(45deg);
}
.main-body-container img{
    border-radius: 10px;
    margin: 3rem;
    width: 80%; 
    
}
[class*="main-body-container"] {
    width: 100%;
  } */
